@use '../colors/colors.scss' as v;
.button-c{
    background-color: transparent;
    position: relative;
    overflow: hidden;
    transition: all .8s ease;
    &::after{
        transition: all .8s ease;
        content: '';
        background: linear-gradient( 
        to right ,
        #3f2b96 ,
       #a8c0ff,
       );

        clip-path: polygon(100% 0%, 100% 53%, 100% 100%, 33% 100%, 0% 50%, 31% 0);

        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &:hover , &:focus{
        color: black;

        &::after{
            right: 0%;
            width: 200%;
        }
    }
}