$dark-body: #212121	;
// $light-body : rgb(171, 191, 250);
$light-body : #acabab;

$dark-body-text: #F8F8F8;

$light-body-text:  #212121 ;


// $sec : #22D3EE	;

$third : #6366F1;


// $text : #F8F8F8;

$footer : #ffd230