@use "../components/colors/colors.scss" as v;

.light-body{
  background-color: v.$light-body !important;
  color: v.$light-body-text !important;
  transition: color,background-color .5s ease;
}
.dark-body {
  background-color: v.$dark-body !important;
  color: v.$dark-body-text !important;
  transition: color,background-color .5s ease;
  // color: rosybrown;
}

html {
  cursor: none;
  overflow-x: hidden;

  body {
    overflow-x: hidden !important;
    font-family: fa1 !important;
    background-color: v.$dark-body;
    color: white;
    position: relative;
    max-width: 1540px !important; /* حد مناسب برای لپ‌تاپ و دسکتاپ */
    margin: 0 auto;

    a,
    button {
      cursor: none;
    }

    .content {
      background-color: v.$dark-body;
      
    }
  }

}


::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #1e90ff, transparent);
  border-radius: 99px;
  width: 10px !important;
  height: 10px !important;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.banner {
  .title {
    .title-back {
      color: transparent;
      -webkit-text-stroke: 3px v.$third;
    }
    // .title-front{
    // text-shadow: 3px 3px 0 royalblue;

    // text-shadow: 3px 3px 0 v.$third;
    // text-shadow: 3px 3px 0 white;
    // }
  }
}
